<div class="container-fluid px-0 h-100 overflow-hidden">
  <div class="row mx-0">
    <div class="col-md-7 px-0">
      <img src="assets/images/login.png" alt="img" class="img-fluid w-100 img" />
    </div>
    <div class="col-md-5">
      <div class="d-flex justify-content-center align-items-start h-100 flex-column px-5">
        <div class="mb-3">
          <h1 class="fw-bold">Welcome 👋</h1>
          <div class="text-muted">Please login here</div>
        </div>
        <form [formGroup]="form" (ngSubmit)="signIn()" class="row w-100">
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Email Address</mat-label>
            <input matInput type="text" formControlName="email" />
            @if (form.get('email')?.hasError('required')) {
              <mat-error>Email is required</mat-error>
            }
            @if (form.get('email')?.hasError('email')) {
              <mat-error>Email not valid</mat-error>
            }
          </mat-form-field>
          <mat-form-field class="col-12" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" />
            @if (form.get('password')?.hasError('required')) {
              <mat-error>Password is required</mat-error>
            }
            @if (form.get('password')?.hasError('minlength')) {
              <mat-error>Password must be at least 8 characters</mat-error>
            }
          </mat-form-field>
          <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
              <mat-checkbox formControlName="rememberMe">Remember Me</mat-checkbox>
              <a class="anchor text-dark" (click)="navigateToForgetPasswordPage()">Forget Password?</a>
            </div>
          </div>
          <div class="col-12 mt-3">
            <button class="btn btn-dark py-2 w-100">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
